# Flask Configuration
FLASK_SECRET_KEY=travelgo-super-secret-key-change-in-production
FLASK_DEBUG=True

# AWS Configuration
AWS_REGION=us-east-1
DYNAMODB_USERS_TABLE=travelgo-users
DYNAMODB_BOOKINGS_TABLE=travelgo-bookings
SNS_TOPIC_ARN=

# Set to True for offline local testing without AWS credentials, or False when connecting to AWS DynamoDB & SNS
USE_LOCAL_MOCK_DB=False
